body.simple {
  .alert {
    margin-top: 10px;
  }

  .header {
    background: #444;
    padding: 5px 10px;
    color: white;

    a {
      color: white;
    }

    .home-button:hover {
      text-decoration: none;

      .home-link {
        text-decoration: underline;
      }
    }
  }

  .footer {
    margin-top: 30px;
    padding: 5px 10px;
    font-size: 0.8em;
  }


  .main {
    width: 400px;
    margin: 0 auto;
  }


  .note {
    margin-top: 30px;
    border: 1px solid #ccc;

    .title {
      padding: 10px 10px 0 10px;
    }

    .body {
      padding: 10px;
    }

    .actions {
      font-size: 0.9em;
      border-top: #ddd solid 1px;
      padding: 5px 10px;
    }
  }
}
